<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/Styles.css" />
        <title>Gbemmy</title>
        <link rel="icon" type="image/x-icon" href="../media/icon.ico">
        
    </head>
    <body>
        <section>
            <h1>hi gbemmy</h1>
            <h2>gbemmy fine girl</h2>
            <h3>gbemmy programmer</h3>
            <br>
            <br>
            <h4>gbemmy programmer</h4>
            <h5>gbemmy programmer</h5>
            <h6>gbemmy programmer</h6> 
            <hr>
            <a 
            href="../index/index.html">
            <img src="..//media/Gbemmy.jpg" alt="sexy girl" width="200" height="200">
            </a>
            <!--
            <img src="Gbemmy.jpg" alt="sexy girl" width="200" height="200" />
            -->
        </section>
        <section>
            <h2>Form</h2>
            
            <form>
                <label for="username">name</label>
                <input type="text" placeholder="input a username" id="username">

                <label for="date">date of birth</label>
                <input type="date" id="date">
            
                <label for="email">email</label>
                <input type="email" placeholder="input an email" id="email">
            
                <br><br><br><br><br><br><br><br>
                <label>
                   <h5>tel</h5>
                    <input type="tel"  id="tel">
                </label>
        
            </form>

        </section>


        

    </body>
</html>